<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>New Contact</strong>
        </h1>
      </div>
      <div class="col-lg-8 mx-auto">
        <div>
          <%= render 'form', contact: @contact %>
        </div>
        <div>
          <%= link_to 'Back', root_path %>
        </div>
      </div>
    </div>
  </div>
</header>
